.App {
    
    display: flex;
    flex-direction: column;
  }
  .Navbar {
      display: flex;
      flex-direction: row;
      border: 2px, dashed, red;
  }
  .Container{
      display: flex;
      flex-direction: row;
  }
  .LeftMenu{
    background-color: #282c34;
    min-height: 100vh;
    flex-basis: 220px;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
  }
